.title{
    text-align: center;
}
.card {
  width: 70%;
  margin: auto;
  padding: 5%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3) inset;
  margin-top: 10%;
}
.loading{
  width: 400px;
  margin-top: 20%;
  margin: auto;
  align-items: center;
  text-align: center;
}
