/* players.module.css */

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.btn {
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6c757d;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.text-primary {
  color: #007bff;
}

.pt-5 {
  padding-top: 3rem;
}
