.registerForm{
  width: 100%;
  margin: auto;
  padding: 5px;
  margin-top: 20%;
}
.title{
  text-align: center;
}
.inputItems {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin: auto;
}
.formInputControl {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 2%;
  border: none;
  margin-bottom: 20px;
  color: 'black';
  width: 100%;
}
.formInputControl:focus {
  outline: none;
}
.btn{
  width: 100%;
  padding: 1%;
  border: none;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.btn:hover{
  background-color: black;
  color: white;
}
.btn:active{
  transform: scale(0.93);
}